



<ul>
  <li><a href="{% url 'about' %}">About</a></li>
  <li><a href="{% url 'press' %}">Press</a></li>
  <li><a href="{% url 'contact' %}">Contact Us</a></li>
  <li><a href="{% url 'soon' %}">Advertise</a></li>
  <li><a href="{% url 'soon' %}">Developers</a></li>
  <li><a href="{% url 'terms' %}">Copyright</a></li>
  <li><a href="{% url 'terms' %}">Privacy Policy</a></li>
  <li><a href="{% url 'terms' %}">Terms</a></li>
</ul>



<div class="left_footer_content">
  <p>© 2024 <strong>skillcobra</strong>. All Rights Reserved.</p>
</div>
