<ul>
  <li><a href="about_us.html">About</a></li>
  <li><a href="press.html">Press</a></li>
  <li><a href="contact_us.html">Contact Us</a></li>
  <li><a href="coming_soon.html">Advertise</a></li>
  <li><a href="coming_soon.html">Developers</a></li>
  <li><a href="terms_of_use.html">Copyright</a></li>
  <li><a href="terms_of_use.html">Privacy Policy</a></li>
  <li><a href="terms_of_use.html">Terms</a></li>
</ul>
<div class="left_footer_content">
  <p>© 2024 <strong>skillcobra</strong>. All Rights Reserved.</p>
</div>
