{% load static i18n %} {% load render_bundle from webpack_loader %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <!-- <meta charset="utf-8" /> -->
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %} skillcobra {% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=9">
        <meta name="description" content="lms">
        <meta name="author" content="jeckonia,daniel">
        <meta name="csrf-token" content="{{ csrf_token }}">
        <!-- Favicon Icon -->
        <link rel="icon" type="image/png" href="{% static 'images/fav.png' %}">
        {% block cssBlock %}
        <link href="{% static 'css/css' %}?family=Roboto:400,700,500" rel="stylesheet" type="text/stylesheet">
        <link href="{% static 'vendor/unicons-2.0.1/css/unicons.css' %}" rel="stylesheet">
        <link href="{% static 'css/vertical-responsive-menu.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
        <link href="{% static 'css/night-mode.css' %}" rel="stylesheet">
        <!-- Vendor Stylesheets -->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/OwlCarousel/assets/owl.carousel.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/OwlCarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendor/bootstrap-select/docs/docs/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/semantic/semantic.min.css' %}">
        {% endblock cssBlock %}
        <!--  -->
        {% block css %}
        <!-- Your stuff: Third-party CSS libraries go here -->
        <!-- This file stores project-specific CSS -->
        <!--  -->
        {% endblock css %}
        <!-- Le javascript
    ================================================== -->
        <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
        {# Placed at the top of the document so pages load faster with defer #}
        <script defer="defer">
      $(document).ready(function () {
        var tutorPk = $("input[type=hidden][name=instructor_pk]").val() || 1;

        const messageWebsocket = new WebSocket(
          `ws://${window.location.host}/ws/message/${tutorPk}`
        );

        console.log($("input[type=hidden][name=instructor_pk]").val());

        var currentProfile =
          "{{ profile.pk }}" || "{{ request.user.user_profile }}";

        console.log(currentProfile);

        messageWebsocket.onopen = async (event) => {
          console.log(`websocket connected ... `);
        };

        $(".tutorMessageModalLabel").submit(async (event) => {
          event.preventDefault();
          const message = new FormData(event.target);
          $(".spinner").show();
          $(this).find("button[type=submit]").prop("disabled", true);
          $(".spinner").css({
            display: "inline-block",
            width: "20px",
            height: "20px",
          });
          setTimeout(() => {
            messageWebsocket.send(
              JSON.stringify({ message: Object.fromEntries(message) })
            );
            console.log(message);
          }, 1000);
        });
        messageWebsocket.onmessage = function (event) {
          $(".spinner").hide();
          $(".tutorMessageModalLabel")
            .find("button[type=submit]")
            .prop("disabled", false);
          let data;
          if (typeof event.data === "string") {
            try {
              data = JSON.parse(event.data);
            } catch (error) {
              return;
            }
          } else if (typeof event.data === "object") {
            data = event.data;
          } else {
            return;
          }
          if (data.message) {
            sendMessageToTutor(data);
          }

          if (data.count !== undefined) {
            if (
              parseInt(data.message.receiver.id) === parseInt(currentProfile)
            ) {
              const tutorMessageCount = $(".message_container_count");
              tutorMessageCount.text(data.count);
            }
          }
        };
        function sendMessageToTutor(data) {
          if (parseInt(data.message.receiver.id) === parseInt(currentProfile)) {
            const tutorMessageCount = $(".message_container_count");
            const newCount = parseInt(tutorMessageCount.text()) + 1;
            tutorMessageCount.text(newCount);
            const messageUpdate = {
              type: "update_count",
              count: newCount,
              receiverId: data.message.receiver.id,
            };
            console.log(messageUpdate);
          }
          console.log(data);
        }

        if ("serviceWorker" in navigator) {
          navigator.serviceWorker
            .register("{% static 'worker/js/worker.js' %}")
            .then((registration) => {
              console.log("Service Worker registered successfully");
              registration.onupdatefound = function () {
                console.log("Service Worker updated");
              };
            })
            .catch((error) => {
              console.log("Service Worker registration failed", error);
            });
        }
      });
        </script>
        <!--  -->
        {% block javascript %} {% endblock javascript %}
        <!--  -->
        {% block styles %} {% endblock styles %}
        <style>
      /* Ensure button uses flex layout */
      .submit-main-btn-with-spinner {
        display: flex;
        align-items: center; /* Vertically align items */
        justify-content: center; /* Horizontally center items */
        position: relative;
        padding: 10px 20px;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        gap: 15px;
      }

      /* Hide spinner by default */
      .spinner-border {
        display: none; /* Hidden by default */
      }

      /* Button when spinner is active */
      .submit-main-btn-with-spinner.loading .spinner-border {
        display: inline-block; /* Show spinner */
      }
      */
      /* Overlay that will block interactions */
      .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
        z-index: 9999; /* Ensure it's on top of everything */
        display: flex;
        justify-content: center;
        align-items: center;
      }

      /* Spinner styles */
      .overlay .spinner {
        border: 4px solid #f3f3f3; /* Light gray */
        border-top: 4px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite; /* Spin animation */
      }

      /* Spinner animation */
      @keyframes spin {
        100% {
          transform: rotate(0deg);
        }
        0% {
          transform: rotate(360deg);
        }
      }
        </style>
        <script src="https://js.sentry-cdn.com/a359abfbe32f524e8dc5e5cf63e203dc.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.all.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.14.5/dist/sweetalert2.min.css" rel="stylesheet">
         <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
        />
        <input type="hidden" name="location" value="Africa">
    </head>
    <body class="{% block bodyclass %}{% endblock bodyclass %}">
        {% block body %}
        <!-- header -->
        {% block header %} {% include 'components/navbar/header.html' %}
        <!--  -->
        {% block sidebar %} {% include 'components/navbar/sidebar.html' %}
        <!--  -->
        {% endblock sidebar %}
        <!--  -->
        {% endblock header %}
        <!-- /header -->
        <!-- main content -->
        {% block wrapper %}
        <div class="wrapper">
            <div class="sa4d25">{% block content %} {% endblock content %}</div>
            <!-- footer -->
            {% block footer %} {% include 'components/footer/main.html' %}
            <!--  -->
            {% endblock footer %}
            <!-- /footer -->
        </div>
        {% endblock wrapper %}
        <!-- /main content -->
        {% endblock body %}
        <!-- /container -->
        {% block modal %} {% endblock modal %}
        <!-- scripts -->
        {% block inline_javascript %}
        <script>
      window.addEventListener("DOMContentLoaded", () => {
        /* Run whatever you want */
      });
        </script>
        {% endblock inline_javascript %}
        <!--  -->
        {% csrf_token %} {% block js %}
        <script src="{% static 'js/vertical-responsive-menu.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'vendor/OwlCarousel/owl.carousel.js' %}"></script>
        <script src="{% static 'vendor/semantic/semantic.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap-select/docs/docs/dist/js/bootstrap-select.js' %}"></script>
        <script src="{% static 'vendor/jquery-ui-1.12.1/jquery-ui.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
        <script src="{% static 'js/night-mode.js' %}"></script>
        <script src="{% static 'js/jquery-steps.min.js' %}"></script>
        {% endblock js %}
        <!-- block scripts -->
        <!-- A button to trigger a test error -->
        <script src="{% static 'worker/js/worker.js' %}"></script>
        <script src="{% static 'worker/js/websocket.js' %}"></script>
        <script>
      function getCookie(name) {
        const cookieValue = document.cookie
          .split(";")
          .find((cookie) => cookie.trim().startsWith(name + "="))
          ?.split("=")[1];
        return cookieValue || "";
      }
        </script>
        {% block scripts %} {% endblock scripts %}
        <script>
      $(document).ready(function () {
        $(".signout-btn").each(function () {
          $(this).on("click", () => {
            var csrfToken = $("input[name=csrfmiddlewaretoken]").val();
            console.log(csrfToken);
            if (confirm("Are you sure you want to sign out?")) {
              $.ajax({
                type: "POST",
                url: "/users/logout/",
                headers: {
                  "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val(),
                },
                success: function (response) {
                  window.location.href = response.url;
                },
                error: function (xhr, status, error) {
                  alert(xhr.responseText);
                },
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify({}),
                cache: false,
                timeout: 5000,
                complete: function (response) {},
              });
            }
          });
        });
      });
        </script>
        {% block vite %} {% endblock vite %}
        <script>
      $(document).ready(function () {
        $(".address_form_update").on("submit", function (event) {
          event.preventDefault();
          const fd = new FormData(event.target);
          const form = $(this);
          const btn = form.find("button[type=submit].save_payout_btn");
          btn.find(".spinner").show();
          btn.prop("disabled", true);

          $.ajax({
            url: "{% url 'users:update_profile_address' %}",
            method: "POST",
            data: fd,
            processData: false,
            contentType: false,
            success: function (response) {
              console.log(response);
              $(".response").text(response.message);
              $("input[name=address_id]").val(response.address_id);
            },
            error: function (jqXHR, textStatus, errorThrown) {
              console.error(jqXHR, textStatus, errorThrown);
              $(".response").text(
                "An error occurred while updating your address."
              );
            },
            complete: function () {
              btn.find(".spinner").hide();
              btn.prop("disabled", false);
              setTimeout(() => {
                $(".response").text("");
              }, 2000);
            },
          });
        });
      });
        </script>
    </body>
</html>
