{% extends "base.html" %}

<!-- -->

{% block title %}
{{ block.super }}
{{ block.title }}
{% endblock title %}

<!-- -->
{% load static %}
<!-- -->
{% block content %}






   

{% endblock content %}
<!-- -->
{% block scripts %}
<!-- -->
{{ block.super }}

<script>
    $(document).ready(function() {
        $(document).on("click", ".create_btn_dash", function(event) {
            event.preventDefault();
            window.location.href = "{% url 'instructors:create_course_view' %}"
        })
    })
</script>
{% endblock scripts %}