<div class="tab-pane fade" id="pills-bllingpayment" role="tabpanel" aria-labelledby="pills-bllingpayment-tab">
  <input type="hidden" name="address_id" value="{{profile.profile_billing_address.pk}}">
  <div class="account_setting">
    <h4>Billing and Payouts</h4>
    <p>Want to charge for a course? Provide your payment info and opt in for our promotional programs</p>
    <div class="basic_form">
      <div class="row">
        {% include 'account/update/form/address.html' %}
      </div>
    </div>

    <div class="divider-1 mb-50"></div>

    {% include 'account/update/form/payout.html' %}

  </div>
</div>
