<div
    class="tab-pane fade"
    id="pills-bllingpayment"
    role="tabpanel"
    aria-labelledby="pills-bllingpayment-tab"
>
    <div class="account_setting">
        <h4>Billing and Payouts</h4>
        <p>Want to charge for a course? Provide your payment info and opt in for our promotional programs</p>
        <div class="divider-1 mb-50"></div>
        <div class="basic_form">
            <div class="row">
                <div class="col-lg-12">
                    <div class="basic_ptitle">
                        <h4>Exclusive Sales</h4>
                        <p>Sell more of your exclusive products of this type (equal to the amount on the left) to get % cut from further exclusive sales.</p>
                    </div>
                    <div class="billing-percentages">
                        <div class="billing-percentages-progress-bar">
                            <ul class="billing-percentages-progress-bar__labels">
                                <li>
                                    <div class="billing-percentages-progress-bar__label billing-percentages-progress-bar__label_zero-level">
                                        <span class="billing-percentages-progress-bar__profit t5">
                                            <strong class="format-currency ">$0</strong>
                                        </span>
                                        <span class="billing-percentages-progress-bar__percent t5">50%</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="billing-percentages-progress-bar__label">
                                        <span class="billing-percentages-progress-bar__profit t5">
                                            <strong class="format-currency ">$2,000</strong>
                                        </span>
                                        <span class="billing-percentages-progress-bar__percent t5">53%</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="billing-percentages-progress-bar__label">
                                        <span class="billing-percentages-progress-bar__profit t5">
                                            <strong class="format-currency ">$8,000</strong>
                                        </span>
                                        <span class="billing-percentages-progress-bar__percent t5">55%</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="billing-percentages-progress-bar__label">
                                        <span class="billing-percentages-progress-bar__profit t5">
                                            <strong class="format-currency ">$18,000</strong>
                                        </span>
                                        <span class="billing-percentages-progress-bar__percent t5">58%</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="billing-percentages-progress-bar__label">
                                        <span class="billing-percentages-progress-bar__profit t5">
                                            <strong class="format-currency ">$40,000</strong>
                                        </span>
                                        <span class="billing-percentages-progress-bar__percent t5">62%</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="billing-percentages-progress-bar__label">
                                        <span class="billing-percentages-progress-bar__profit t5">
                                            <strong class="format-currency ">$75,000</strong>
                                        </span>
                                        <span class="billing-percentages-progress-bar__percent t5">70%</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="billing-percentages-progress-bar__label">
                                        <span class="billing-percentages-progress-bar__profit t5">
                                            <strong class="format-currency ">$100,000</strong>
                                        </span>
                                        <span class="billing-percentages-progress-bar__percent t5">80%</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="basic_form mt-50">
            <div class="row">
                <div class="col-lg-12">
                    <div class="basic_ptitle">
                        <h4>Non-Exclusive Sales</h4>
                        <p>Sell more of your non-exclusive products of this type (equal to the amount on the left) to get 70% cut from every non-exclusive sales.</p>
                    </div>
                    <div class="billing-percentages">
                        <div class="billing-percentages-progress-bar">
                            <ul class="billing-percentages-progress-bar__labels">
                                <li>
                                    <div class="billing-percentages-progress-bar__label billing-percentages-progress-bar__label_zero-level">
                                        <span class="billing-percentages-progress-bar__profit t5">
                                            <strong class="format-currency ">$0</strong>
                                        </span>
                                        <span class="billing-percentages-progress-bar__percent t5">30%</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="billing-percentages-progress-bar__label">
                                        <span class="billing-percentages-progress-bar__profit t5">
                                            <strong class="format-currency ">$2,000</strong>
                                        </span>
                                        <span class="billing-percentages-progress-bar__percent t5">30%</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="billing-percentages-progress-bar__label">
                                        <span class="billing-percentages-progress-bar__profit t5">
                                            <strong class="format-currency ">$8,000</strong>
                                        </span>
                                        <span class="billing-percentages-progress-bar__percent t5">30%</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="billing-percentages-progress-bar__label">
                                        <span class="billing-percentages-progress-bar__profit t5">
                                            <strong class="format-currency ">$18,000</strong>
                                        </span>
                                        <span class="billing-percentages-progress-bar__percent t5">30%</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="billing-percentages-progress-bar__label">
                                        <span class="billing-percentages-progress-bar__profit t5">
                                            <strong class="format-currency ">$40,000</strong>
                                        </span>
                                        <span class="billing-percentages-progress-bar__percent t5">30%</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="billing-percentages-progress-bar__label">
                                        <span class="billing-percentages-progress-bar__profit t5">
                                            <strong class="format-currency ">$75,000</strong>
                                        </span>
                                        <span class="billing-percentages-progress-bar__percent t5">30%</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="billing-percentages-progress-bar__label">
                                        <span class="billing-percentages-progress-bar__profit t5">
                                            <strong class="format-currency ">$100,000</strong>
                                        </span>
                                        <span class="billing-percentages-progress-bar__percent t5">30%</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider-1 mb-50"></div>
        <div class="basic_form mt-50">
            <div class="row">
                <div class="col-lg-12">
                    <div class="basic_ptitle">
                        <h4>Withdrawal Method</h4>
                    </div>
                    <div class="rpt100 mt-30">
                        <ul class="radio--group-inline-container_1">
                            <li>
                                <div class="radio-item_1">
                                    <input
                                        id="paypal1"
                                        value="payal"
                                        name="paymentmethod"
                                        type="radio"
                                        data-minimum="50.0"
                                    >
                                    <label for="paypal1" class="radio-label_1">Paypal</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio-item_1">
                                    <input
                                        id="M-Pesa"
                                        value="M-Pesa"
                                        name="paymentmethod"
                                        type="radio"
                                        data-minimum="50.0"
                                    >
                                    <label for="M-Pesa" class="radio-label_1">M-Pesa</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group return-departure-dts" data-method="payal">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pymnt_title">
                                    <h4>Your PayPal Account</h4>
                                    <span>Minimum - $50.00</span>
                                    <p>
                                        Get paid by credit or debit card, PayPal transfer or even via bank account in just a few clicks. All you need is your email address or mobile number.
                                        <a href="#">More about PayPal</a>
                                        |
                                        <a href="#">Create an account</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="ui search focus mt-30">
                                    <div class="ui icon input swdh11 swdh19">
                                        <input
                                            class="prompt srch_explore"
                                            type="email"
                                            name="emailaddress"
                                            value=""
                                            id="id_email"
                                            required=""
                                            maxlength="64"
                                            placeholder="Email address"
                                        >
                                    </div>
                                </div>
                                <div class="ui search focus mt-20">
                                    <div class="ui icon input swdh11 swdh19">
                                        <input
                                            class="prompt srch_explore"
                                            type="email"
                                            name="cemailaddress"
                                            value=""
                                            id="id_emailc"
                                            required=""
                                            maxlength="64"
                                            placeholder="Confirm email address"
                                        >
                                    </div>
                                </div>
                                <button class="save_payout_btn" type="submit">Set Payout Account</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group return-departure-dts" data-method="M-Pesa">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pymnt_title">
                                    <h4>Your Mpesa Account</h4>
                                    <span>Minimum - $50.00</span>
                                    <p>
                                        Mpesa Prepaid MasterCard® or Global Bank Transfer (Mpesa) offers an easy, convenient and cost effective way to get paid.
                                        <a href="#">More about MPesa</a>
                                        |
                                        <a href="#">MPesa FAQs</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="ui search focus mt-30">
                                    <div class="ui icon input swdh11 swdh19">
                                        <input
                                            class="prompt srch_explore"
                                            type="text"
                                            name="mpesa_phone_number"
                                            value=""
                                            id="id_email1"
                                            required=""
                                            maxlength="64"
                                            placeholder="+254788272993"
                                        >
                                    </div>
                                </div>
                                <button class="save_payout_btn" type="submit">Set Payout Account</button>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <button class="save_btn" type="submit">Save Changes</button>
    </div>
</div>
