<div
    class="tab-pane fade"
    id="pills-closeaccount"
    role="tabpanel"
    aria-labelledby="pills-closeaccount-tab"
>
    <div class="account_setting">
        <h4>Close account</h4>
        <p>
            <strong>Warning:</strong> If you close your account, you will be unsubscribed from all your 5 courses, and will lose access forever.
        </p>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="ui search focus mt-30">
                <div class="ui icon input swdh11 swdh19">
                    <input
                        class="prompt srch_explore"
                        type="password"
                        name="yourassword"
                        id="id_yourpassword"
                        required=""
                        maxlength="64"
                        placeholder="Enter Your Password"
                    >
                </div>
                <div class="help-block">Are you sure you want to close your account?</div>
            </div>
            <button class="save_payout_btn mbs20" type="submit">Close Account</button>
        </div>
    </div>
</div>
