{% load static %}
<!--  -->
{% include 'instructors/components/create_course/datepicker.html' %}
<!--  -->
<div class="tab-from-content">
  <div class="title-icon">
    <h3 class="title">
      <i class="uil uil-usd-square"></i>Price</h3>
  </div>
  <div class="course__form">
    <div class="price-block">
      <div class="row">
        <div class="col-md-12">
          <div class="course-main-tabs">
            <div class="nav nav-pills flex-column flex-sm-row nav-tabs" role="tablist">
              <a class="flex-sm-fill text-sm-center nav-link active" data-bs-toggle="tab" href="#nav-free" role="tab" aria-selected="true">
                <i class="fas fa-tag me-2"></i>Free</a>
              <a class="flex-sm-fill text-sm-center nav-link" data-bs-toggle="tab" href="#nav-paid" role="tab" aria-selected="false">
                <i class="fas fa-cart-arrow-down me-2"></i>Paid</a>
              <a class="flex-sm-fill text-sm-center nav-link" data-bs-toggle="tab" href="#nav-release-date" role="tab" aria-selected="false">
                <i class="fas fa-regular fa-calendar me-2"></i>
                Release Date
              </a>
            </div>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="nav-free" role="tabpanel">
                <div class="price-require-dt">
                  <div class="cogs-toggle center_d">
                    <label class="switch">
                      {{form.require_login}}
                      <span></span>
                    </label>
                    <label for="{{form.require_login.id_for_label}}" class="lbl-quiz">Require Log In</label>
                  </div>
                  <div class="cogs-toggle center_d mt-3">
                    <label class="switch">
                      {{form.require_enrollment}}
                      <span></span>
                    </label>
                    <label for="{{form.require_enrollment.id_for_label}}" class="lbl-quiz">Require Enroll</label>
                  </div>
                  <p>
                    If the course is free, if student require to enroll your course, if not required enroll, if students required sign in to your website to take this course.
                  </p>
                </div>
              </div>

              <div class="tab-pane" id="nav-paid" role="tabpanel">
                <div class="license_pricing mt-30">
                  <label class="label25">Regular Price*</label>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="loc_group">
                        <div class="ui left icon input swdh19">
                          {{form.regular_price}}
                        </div>
                        <span class="slry-dt">USD</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="license_pricing mt-30 mb-30">
                  <label class="label25">Discount Price*</label>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                      <div class="loc_group">
                        <div class="ui left icon input swdh19">
                          {{form.discount_price}}
                        </div>
                        <span class="slry-dt">USD</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="nav-release-date" role="tabpanel">
                <div class="price-require-dt">
                  <div class="cogs-toggle center_d">
                    <label class="switch">
                      <input type="checkbox" name="availability" id="availability">
                      <span></span>
                    </label>
                    <label for="availability" class="lbl-quiz">Make available instantly</label>
                  </div>

                  <div class='center_d mx-auto mt-3' style="width: 300px;">
                    <div class="form-group">
                      {{form.course_release_date}}
                    </div>
                  </div>

                  <script>
                    $(document).ready(function () {
                      // Get the current date and time
                    const currentDateTime = new Date();
                    const formattedDateTime = currentDateTime
                        .toISOString()
                        .slice(0, 16)
                        .replace("T", " ");

                    // Set the default value
                    $('#id_course_release_date').val(formattedDateTime);

                      $('#id_course_release_date').datetimepicker({
                        format: 'Y-m-d H:i', // Date and time format
                        minDate: 0, // Disable past dates
                        maxDate: '+1M', // Disable dates more than a month ahead
                        step: 10, // 10-minute intervals
                        inline: false, // Set true for inline calendar
                        
                      });
                      $("input[type=checkbox][name=availability]").on("change", function(event){
                        if(this.checked) {
                          $('#id_course_release_date').show();
                        } else {
                          $('#id_course_release_date').hide();
                        }
                      })

                    });
                  </script>

                  <p>
                    By setting the date it help you in organizing you students and managing your course so you can create an make then available at the right time.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
