<div
    class="tab-pane fade"
    id="pills-api"
    role="tabpanel"
    aria-labelledby="pills-api-tab"
>
    <div class="account_setting">
        <h4>Affiliate API</h4>
        <p>The skillcobra Affiliate API exposes functionalities of skillcobra to help developers build client applications and integrations with skillcobra.
            <br>To see more details, please visit
            <a href="#">skillcobra Affiliate API</a>
        </p>
    </div>
    <button class="api_btn">Request Affiliate API Client</button>
    <div class="nt_apt">
        <i class="uil uil-info-circle"></i> You don't have any API clients yet.
    </div>
</div>
