{% load static %}
<div class="section3125">{% include "screens/home/streams.html" %}</div>

<div class="section3125 mt-50">{% include "screens/home/fcourses.html" %}</div>
<div class="section3125 mt-30">{% include "screens/home/ncourses.html" %}</div>
<div class="section3126">{% include "screens/home/benefits.html" %}</div>

<div class="section3125 mt-50">
  <h4 class="item_title">Popular Instructors</h4>
  <a href="" class="see150">See all</a>
  <div class="la5lo1">
    <div class="owl-carousel top_instrutors owl-theme">
      <div class="item">
        <div class="fcrse_1 mb-20">
          <div class="tutor_img">
            <a href="instructor_profile_view.html"
              ><img src="{% static 'images/left-imgs/img-1.jpg' %}" alt=""
            /></a>
          </div>
          <div class="tutor_content_dt">
            <div class="tutor150">
              <a href="instructor_profile_view.html" class="tutor_name"
                >John Doe</a
              >
              <div class="mef78" title="Verify">
                <i class="uil uil-check-circle"></i>
              </div>
            </div>
            <div class="tutor_cate">Wordpress &amp; Plugin Tutor</div>
            <ul class="tutor_social_links">
              <li>
                <a href="#" class="fb"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#" class="tw"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a>
              </li>
              <li>
                <a href="#" class="yu"><i class="fab fa-youtube"></i></a>
              </li>
            </ul>
            <div class="tut1250">
              <span class="vdt15">100K Students</span>
              <span class="vdt15">15 Courses</span>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="fcrse_1 mb-20">
          <div class="tutor_img">
            <a href="instructor_profile_view.html"
              ><img src="{% static 'images/left-imgs/img-2.jpg' %}" alt=""
            /></a>
          </div>
          <div class="tutor_content_dt">
            <div class="tutor150">
              <a href="instructor_profile_view.html" class="tutor_name"
                >Kerstin Cable</a
              >
              <div class="mef78" title="Verify">
                <i class="uil uil-check-circle"></i>
              </div>
            </div>
            <div class="tutor_cate">
              Language Learning Coach, Writer, Online Tutor
            </div>
            <ul class="tutor_social_links">
              <li>
                <a href="#" class="fb"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#" class="tw"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a>
              </li>
              <li>
                <a href="#" class="yu"><i class="fab fa-youtube"></i></a>
              </li>
            </ul>
            <div class="tut1250">
              <span class="vdt15">14K Students</span>
              <span class="vdt15">11 Courses</span>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="fcrse_1 mb-20">
          <div class="tutor_img">
            <a href="instructor_profile_view.html"
              ><img src="{% static 'images/left-imgs/img-3.jpg' %}" alt=""
            /></a>
          </div>
          <div class="tutor_content_dt">
            <div class="tutor150">
              <a href="instructor_profile_view.html" class="tutor_name"
                >Jose Portilla</a
              >
              <div class="mef78" title="Verify">
                <i class="uil uil-check-circle"></i>
              </div>
            </div>
            <div class="tutor_cate">
              Head of Data Science, Pierian Data Inc.
            </div>
            <ul class="tutor_social_links">
              <li>
                <a href="#" class="fb"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#" class="tw"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a>
              </li>
              <li>
                <a href="#" class="yu"><i class="fab fa-youtube"></i></a>
              </li>
            </ul>
            <div class="tut1250">
              <span class="vdt15">1M Students</span>
              <span class="vdt15">25 Courses</span>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="fcrse_1 mb-20">
          <div class="tutor_img">
            <a href="instructor_profile_view.html"
              ><img src="{% static 'images/left-imgs/img-4.jpg' %}" alt=""
            /></a>
          </div>
          <div class="tutor_content_dt">
            <div class="tutor150">
              <a href="instructor_profile_view.html" class="tutor_name"
                >Farhat Amin</a
              >
              <div class="mef78" title="Verify">
                <i class="uil uil-check-circle"></i>
              </div>
            </div>
            <div class="tutor_cate">Cookery Coach</div>
            <ul class="tutor_social_links">
              <li>
                <a href="#" class="fb"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#" class="tw"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a>
              </li>
              <li>
                <a href="#" class="yu"><i class="fab fa-youtube"></i></a>
              </li>
            </ul>
            <div class="tut1250">
              <span class="vdt15">1.5K Students</span>
              <span class="vdt15">9 Courses</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
