{% load static %}
<!-- <div class="section3125">{% include "screens/home/streams.html" %}</div> -->
<div class="section3126" style="transform: translateY(-25px);">{% include "screens/home/benefits.html" %}</div>

<div class="section3125 mt-20">{% include "screens/home/fcourses.html" %}</div>
<div class="section3125 mt-30">{% include "screens/home/ncourses.html" %}</div>

<div class="section3125 mt-50">
  <h4 class="item_title">Popular Instructors</h4>
  <a href="" class="see150">See all</a>
  <div class="la5lo1">
    <div class="owl-carousel top_instrutors owl-theme">
      {% for item in popular_tutors %}
      <div class="item">
        <div class="fcrse_1 mb-20">
          <div class="tutor_img">
            <a href="{{item.get_public_profile_url}}"
              ><img src="{% if item.avatar %}{{item.avatar.url}}{% else %}{% static 'images/left-imgs/img-1.jpg' %}{% endif %}" alt="{{item.full_name}}"
            /></a>
          </div>
          <div class="tutor_content_dt">
            <div class="tutor150">
              <a href="{{item.get_public_profile_url}}" class="tutor_name"
                >{{item.full_name|title}}</a
              >
              <div class="mef78" title="Verify">
                <i class="uil uil-check-circle"></i>
              </div>
            </div>
            <div class="tutor_cate">{{item.headline|truncatewords:"8"}}</div>
            <ul class="tutor_social_links">
              <li>
                <a href="#" class="fb"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#" class="tw"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a>
              </li>
              <li>
                <a href="#" class="yu"><i class="fab fa-youtube"></i></a>
              </li>
            </ul>
            <div class="tut1250">
              <span class="vdt15">{{item.tutor_subscriptions.students.count}} Student{{item.tutor_subscriptions.students.count|pluralize}}</span>
              <span class="vdt15">{{item.course_tutor.count}} Course{{item.course_tutor.count|pluralize}}</span>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
