{% load static %}

<div class="new-section mt-30">
  <div class="form_group">
    <label class="label25">Lecture Title*</label>
    {{lecture_form.title}}
  </div>
</div>
<div class="ui search focus lbel25 mt-30">
  <label>Description*</label>
  {{lecture_form.media}}
  <div class="text-editor">
   {{lecture_form.description}}
  </div>
</div>
<div class="preview-dt">
  <span class="title-875">Free Preview</span>
  <label class="switch">
    <!-- <input title="preview_accepted" type="checkbox" name="preview_op" value="" /> -->
    {{lecture_form.has_free_preview}}
    <span></span>
  </label>
</div>
