{% load static widget_tweaks %}
<div>
    <div class="">
        <form
            action="{{lecture.get_lecture_update_url}}"
            class="update_lecture_form"
            id="data-lecture-update-form-{{curriculum.pk}}"
            method="post"
            enctype="multipart/form-data"
        >
            {% csrf_token %} {{lecture_form.media}}
            <div class="modal-content">
                <div class="modal-body">
                    <div class="new-section-block">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="course-main-tabs">
                                    <div class="nav nav-pills flex-column flex-sm-row"></div>
                                    <div class="tab-content">
                                        <div class="">
                                            <div class="new-section mt-30">
                                                <div class="form_group">
                                                    <label class="label25">Lecture Title*</label>
                                                    {% render_field lecture_form.title value=lecture.title %}
                                                </div>
                                            </div>
                                            <div class="ui search focus lbel25 mt-30">
                                                <label>Description*</label>
                                                <div class="text-editor">
                                                    {% render_field lecture_form.description placeholder=lecture.description|safe %}
                                                </div>
                                            </div>
                                            <div class="preview-dt">
                                                <span class="title-875">Free Preview</span>
                                                <label class="switch">
                                                    {% render_field lecture_form.has_free_preview value=lecture.has_free_preview %}
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="lecture-video-dt mt-30">
                                                <div class="video-category">
                                                    <div class="embedded">
                                                        <div class="new-section">
                                                            <div class="ui search focus mt-30 lbel25">
                                                                <label>
                                                                    Enter your video url link is
                                  applicable*
                                                                </label>
                                                                <div class="ui form swdh30">
                                                                    <div class="field">
                                                                        {% render_field lecture_form.lecture_video_url placeholder=lecture.lecture_video_url %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="video-duration">
                                                            <label class="label25">
                                                                Video Runtime -
                                                                <strong>hh:mm:ss</strong>
                                                                *
                                                            </label>
                                                            <div class="duration-time">
                                                                <div class="input-group">
                                                                    {% render_field lecture_form.video_runtime_hours value=lecture.video_runtime_hours %}
                                                                    <!--  -->
                                                                    {% render_field lecture_form.video_runtime_minutes value=lecture.video_runtime_minutes %}
                                                                    <!--  -->
                                                                    {% render_field lecture_form.video_runtime_seconds value=lecture.video_runtime_seconds %}
                                                                    <!--  -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="upload-file-dt mt-30" style="position: relative;">
                                                        <div class="upload-btn">
                                                            {{lecture_form.lecture_attachments}}
                                                            <label for="{{lecture_form.lecture_attachments.id_for_label}}" title="Zip">
                                                                <i class="far fa-plus-square me-2"></i>
                                                                Attachment
                                                            </label>
                                                        </div>
                                                        <span class="uploadBtn-main-file">
                                                            {{lecture_form.lecture_attachments.help_text}}
                                                        </span>
                                                        {% if lecture.lecture_attachments %}
                                                        <a style="width: 200px !important; margin: auto; border-radius: 15px;" href="{% url 'serve_s3_file' file_key=lecture.lecture_attachments.name  %}" class="py-2 text-center justify-content-center d-flex flex-column btn btn-outline-primary">
                                                            <i class="fa fa-solid fa-cloud-arrow-down"></i>
                                                            <div class="py-2 prim">Download the file</div>
                                                        </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div id="response-container"></div>
                                                </div>
                                                <div class="row pt-4">
                                                    <button type="submit" class="main-btn">
                                                        update Lecture
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
