{% extends "base.html" %}
<!-- -->
{% load static %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="title125">
                <div class="titleleft">
                    <div class="ttl121">
                        <nav aria-label="breadcrumb"></nav>
                    </div>
                </div>
            </div>
            <div class="title126">
                <h2>Checkout</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="membership_chk_bg">
                <div class="checkout_title">
                    <h4>Billing Details</h4>
                    <img src="{% static 'images/line.svg' %}" alt="">
                </div>
                <div
                    class="panel-group"
                    id="accordion"
                    role="tablist"
                    aria-multiselectable="true"
                >
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="address1">
                            <div class="panel-title">
                                <a
                                    class="collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-parent="#accordion"
                                    href="#collapseaddress1"
                                    aria-expanded="false"
                                    aria-controls="collapseaddress1"
                                >
                                    Edit Address
                                </a>
                            </div>
                        </div>
                        <div
                            id="collapseaddress1"
                            class="panel-collapse collapse"
                            role="tabpanel"
                            aria-labelledby="address1"
                        >
                            <div class="panel-body basic_form">
                                <form action="{% url 'users:update_profile_address' %}" method="post" class="address_form_update">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="ui search focus mt-30 lbel25">
                                                <label>First Name*</label>
                                                <div class="ui left icon input swdh11 swdh19">
                                                    {{billing_address_form.first_name}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="ui search focus mt-30 lbel25">
                                                <label>Last Name*</label>
                                                <div class="ui left icon input swdh11 swdh19">
                                                    {{billing_address_form.last_name}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="ui search focus mt-30 lbel25">
                                                <label>Academy Name*</label>
                                                <div class="ui left icon input swdh11 swdh19">
                                                    <input
                                                        class="prompt srch_explore"
                                                        type="text"
                                                        name="skillcobra"
                                                        value="skillcobra"
                                                        id="id_academy"
                                                        required="false"
                                                        maxlength="64"
                                                        placeholder="Academy Name"
                                                    >
                                                </div>
                                                <div class="help-block">
                                                    If you want your invoices addressed to a academy.
                          Leave blank to use your full name.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mt-30 lbel25">
                                                <label>Country*</label>
                                            </div>
                                            {{billing_address_form.country}}
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="ui search focus mt-30 lbel25">
                                                <label>Address1*</label>
                                                <div class="ui left icon input swdh11 swdh19">
                                                    {{billing_address_form.address_line1}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="ui search focus mt-30 lbel25">
                                                <label>Address2*</label>
                                                <div class="ui left icon input swdh11 swdh19">
                                                    {{billing_address_form.address_line2}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="ui search focus mt-30 lbel25">
                                                <label>City*</label>
                                                <div class="ui left icon input swdh11 swdh19">
                                                    {{billing_address_form.city}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="ui search focus mt-30 lbel25">
                                                <label>State / Province / Region*</label>
                                                <div class="ui left icon input swdh11 swdh19">
                                                    {{billing_address_form.state}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="ui search focus mt-30 lbel25">
                                                <label>Zip/Postal Code*</label>
                                                <div class="ui left icon input swdh11 swdh19">
                                                    {{billing_address_form.postal_code}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="ui search focus mt-30 lbel25">
                                                <label>Phone Number*</label>
                                                <div class="ui left icon input swdh11 swdh19">
                                                    {{billing_address_form.phone_number}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="response"></div>
                                        <div class="col-lg-6">
                                            <button class="save_address_btn" type="submit">
                                                <div class="spinner" style="display: none"></div>
                                                Save Changes
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% with request.user.user_profile as profile %}
                <!-- -->
                {% if profile.profile_billing_address %}
                <!-- -->
                {% with profile.profile_billing_address as item %}
                <div class="address_text">
                    {{item.first_name|title}} {{item.last_name|title}}
                    <br>
                    #{{item.address_line1}},
                    <br>
                    {{item.address_line2}}
                    <br>
                    Road.
                    <br>
                    {{item.state}}, {{item.city|title}}, {{item.postal_code}}
                    <br>
                    {{item.get_country_display|title}}
                </div>
                {% endwith %}
                <!-- -->
                {% endif %}
                <!-- -->
                {% endwith %}
            </div>
            <div class="membership_chk_bg">
                <div class="checkout_title">
                    <h4>Select Payment Method</h4>
                    <img src="{% static 'images/line.svg' %}" alt="">
                </div>
                <div class="checkout-tabs">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a
                                href="#credit-method-tab"
                                id="credit-tab"
                                class="nav-link active"
                                data-bs-toggle="tab"
                            >
                                <i class="uil uil-card-atm check_icon5"></i>
                                Credit/Debit Card
                            </a>
                        </li>
                        <li class="nav-item">
                            <a
                                href="#bank-method-tab"
                                id="bank-tab"
                                class="nav-link"
                                data-bs-toggle="tab"
                            >
                                <i class="uil uil-university check_icon5"></i>
                                Bank Transfer
                            </a>
                        </li>
                        <li class="nav-item">
                            <a
                                href="#payapl-method-tab"
                                id="payapl-tab"
                                class="nav-link"
                                data-bs-toggle="tab"
                            >
                                <i class="uil uil-paypal check_icon5"></i>
                                Paypal
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div
                        class="tab-pane fade show active"
                        id="credit-method-tab"
                        role="tabpanel"
                        aria-labelledby="credit-tab"
                    >
                      {% include "membership/forms/credit_debit.html" %}
                    </div>
                    <div
                        class="tab-pane fade"
                        id="bank-method-tab"
                        role="tabpanel"
                        aria-labelledby="bank-tab"
                    >
                        {% include "membership/forms/transfer.html" %}
                    </div>
                    <div
                        class="tab-pane fade"
                        id="payapl-method-tab"
                        role="tabpanel"
                        aria-labelledby="payapl-tab"
                    >
                        <div class="row">
                            <div class="col-md-12">
                                <p class="t-body">
                                    After payment via PayPal's secure checkout, we will send you a link to download your files.
                                </p>
                                <div class="media h-mt2">
                                    <div class="media__item -align-center">
                                        <p class="t2-body h-m0">PayPal accepts</p>
                                    </div>
                                    <div class="media__body">
                                        <ul id="paypal-gateway" class="financial-institutes">
                                            <li class="financial-institutes__logo">
                                                <img alt="Visa" title="Visa" src="{% static 'images/membership/pyicon-1.svg' %}">
                                            </li>
                                            <li class="financial-institutes__logo">
                                                <img alt="MasterCard" title="MasterCard" src="{% static 'images/membership/pyicon-2.svg' %}">
                                            </li>
                                            <li class="financial-institutes__logo">
                                                <img alt="American Express" title="American Express" src="{% static 'images/membership/pyicon-3.svg' %}">
                                            </li>
                                            <li class="financial-institutes__logo">
                                                <img alt="Discover" title="Discover" src="{% static 'images/membership/pyicon-4.svg' %}">
                                            </li>
                                            <li class="financial-institutes__logo">
                                                <img alt="China UnionPay" title="China UnionPay" src="{% static 'images/membership/pyicon-5.svg' %}">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chckout_order_dt">
                    <div class="checkout_title">
                        <h4>Order Details</h4>
                        <img src="{% static 'images/line.svg' %}" alt="">
                    </div>
                    <div class="order_dt_section">
                        <div class="order_title">
                            <h4>{{plan.get_name_display|title}} Plan</h4>
                            <div class="order_price">${{plan.price}}</div>
                        </div>
                        <div class="order_title">
                            <h6>Taxes(GST)</h6>
                            <div class="order_price">$0.00</div>
                        </div>
                        <div class="order_title">
                            <h3>Total</h3>
                            <div class="order_price">${{plan.price}}</div>
                        </div>
                        <!-- <button class="chckot_btn" type="submit">Confirm Checkout</button> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="membership_chk_bg rght1528">
                <div class="checkout_title">
                    <h4>Order Summary</h4>
                    <img src="{% static 'images/line.svg' %}" alt="">
                </div>
                <div class="order_dt_section">
                    <div class="order_title">
                        <h4>{{plan.get_name_display|title}} Plan</h4>
                        <div class="order_price">${{plan.price}}</div>
                    </div>
                    <div class="order_title">
                        <h6>Taxes(GST)</h6>
                        <div class="order_price">$0.00</div>
                    </div>
                    <div class="order_title">
                        <h2>Total</h2>
                        <div class="order_price5">${{plan.price}}</div>
                    </div>
                    <div class="scr_text">
                        <i class="uil uil-lock-alt"></i>
                        Secure checkout
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!-- -->
{% block scripts %}
<script src="{% static 'js/home.js' %}"></script>
<script>
  $(document).ready(function () {

  });
</script>
<script scr="../../../src/index.js"></script>


{% endblock scripts %}
