{% load static %}

<!--  -->

<div class="item">
  <div class="fcrse_1 mb-20">
    <a href="{{item.get_public_absolute_url}}" class="fcrse_img">
      <img src="{% if item.cover %}{{item.cover.url}}{% else %}{% static 'images/courses/img-1.jpg' %}{% endif %}" alt="{{course.title}}" />
      <div class="course-overlay">
        <div class="badge_seller">Bestseller</div>
        <div class="crse_reviews"><i class="uil uil-star"></i>4.5</div>
        <span class="play_btn1"><i class="uil uil-play"></i></span>
        <div class="crse_timer">{{item.course_duration}}</div>
      </div>
    </a>
    <div class="fcrse_content">
      <div class="eps_dots more_dropdown">
        <a href="#"><i class="uil uil-ellipsis-v"></i></a>
        <div class="dropdown-content">
          <span><i class="uil uil-share-alt"></i>Share</span>
          <span><i class="uil uil-heart"></i>Save</span>
          <span><i class="uil uil-ban"></i>Not Interested</span>
          <span><i class="uil uil-windsock"></i>Report</span>
        </div>
      </div>
      <div class="vdtodt">
        <span class="vdt14">{{item.views}} view{{item.views|pluralize}}</span>
        <span class="vdt14">updated {{item.updated_at|timesince}} ago</span>
      </div>
      <a href="{{item.get_public_absolute_url}}" class="crse14s"
        >{{item.title|truncatewords:"9"}}</a
      >
      <a href="#" class="crse-cate">{{item.sub_category.category.name}} | {{item.sub_category.name}}</a>
      <div class="auth1lnkprce">
        <p class="cr1fot">By <a href="{{item.tutor.get_public_profile_url}}">{{item.tutor.full_name|title}}</a></p>
        <div class="prce142">${{item.payable_amount}}</div>
        <button class="shrt-cart-btn" title="cart">
          <i class="uil uil-shopping-cart-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>

