{% load static %}
<!--  -->

{% for item in "kwasa" %}
<div class="item">
  <div class="fcrse_4 mb-20">
    <div class="say_content">
      <p>
        "Donec ac ex eu arcu euismod feugiat. In venenatis bibendum nisi, in
        placerat eros ultricies vitae. Praesent pellentesque blandit
        scelerisque. Suspendisse potenti."
      </p>
    </div>
    <div class="st_group">
      <div class="stud_img">
        <img src="{% static 'images/left-imgs/img-4.jpg' %}" alt="" />
      </div>
      <h4>Jassica William</h4>
    </div>
  </div>
</div>
{% endfor %}
