{% load static %}

<!-- Header Start -->
	<header class="header clearfix">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="back_link">
						<a href="{% url 'home' %}" class="hde151">Back Home</a>
						<a href="{% url 'home' %}" class="hde152">Back</a>
					</div>
					<div class="ml_item">
						<div class="main_logo main_logo15" id="logo">
							<a href="{% url 'home' %}"><img src="{% static 'images/logo.svg' %}" alt=""></a>
							<a href="{% url 'home' %}"><img class="logo-inverse" src="{% static 'images/ct_logo.svg' %}" alt=""></a>
						</div>				
					</div>				
					<div class="header_right pr-0">
						<ul>				
							<li class="profile-dropdown">
								<a href="#" class="opts_account" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
									<img src="{% static 'images/hd_dp.jpg' %}" alt="">
								</a>
								<div class="dropdown-menu dropdown_account drop-down dropdown-menu-end">
									<div class="channel_my">
										<div class="profile_link">
											<img src="{% static 'images/hd_dp.jpg' %}" alt="">
											<div class="pd_content">
												<div class="rhte85">
													<h6>Joginder Singh</h6>
													<div class="mef78" title="Verify">
														<i class='uil uil-check-circle'></i>
													</div>
												</div>
												<span>{{request.user.email}}</span>
											</div>							
										</div>
										<a href="" class="dp_link_12">Profile</a>
									</div>
									<div class="night_mode_switch__btn">
										<a href="#" id="night-mode" class="btn-night-mode">
											<i class="uil uil-moon"></i> Night mode
											<span class="btn-night-mode-switch">
												<span class="uk-switch-button"></span>
											</span>
										</a>
									</div>
									<a href="{% if request.user.role == 'student' %}{% url 'students:dashboard' %}{% else %}#{% endif %}" class="item channel_item">Dashboard</a>						
									<a role="button" class="item channel_item signout-btn">Sign Out</a>
								</div>
							</li>
						</ul>
					</div>		
				</div>		
			</div>
		</div>
	</header>