{% extends "core/layout.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block title %} {{ block.super }} About {% endblock title %}
<!--  -->

<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->

<!--  -->
{% block content %}
<div class="_215td5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title589 text-center">
          <h2>Our Features</h2>
          <p>On SkillCobra, you have access to:</p>
          <img class="line-title" src="{% static 'images/line.svg' %}" alt="" />
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="feature125">
          <i class="uil uil-lightbulb"></i>
          <h4>Modern Learning Technology</h4>
          <p>We use cutting-edge technology and innovative teaching methods to deliver the most relevant skills for you.</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="feature125">
          <i class="uil uil-books"></i>
          <h4>Diverse Course Library</h4>
          <p>We offer a wide range of courses in Web Development, AI, IT, Adobe Design, Digital Marketing, and more.</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="feature125">
          <i class="uil uil-user-check"></i>
          <h4>Expert-Led Courses</h4>
          <p>Learn directly from industry leaders and professionals who bring real-world expertise to every course.</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="feature125">
          <i class="uil uil-clock"></i>
          <h4>Lifetime Access</h4>
          <p>Get lifetime access to your courses. Learn at your own pace and revisit lessons anytime.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="_215zd5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="title478">
          <h2>Our Story</h2>
          <img class="line-title" src="{% static 'images/line.svg' %}" alt="" />
          <p>
            We are a team of self-taught experts in web development, design, marketing, editing, and copywriting.
            Facing challenges in acquiring up-to-date skills ourselves, we created SkillCobra to provide learners
            with real-world-focused, high-quality, and budget-friendly learning tools.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="story125">
          <img src="{% static 'images/about/story_img.png' %}" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="_215td5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title589 text-center">
          <h2>Our Global Reach</h2>
          <p>
            SkillCobra is the leading global marketplace for teaching and learning,
            connecting millions of students to the skills they need to succeed.
          </p>
          <img class="line-title" src="{% static 'images/line.svg' %}" alt="" />
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="p__metric">
          +2k
          <span>Instructors</span>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="p__metric">
          +1.5k
          <span>Courses</span>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="p__metric">
          +300
          <span>Course enrollments</span>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="p__metric">
          +50
          <span>Languages</span>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="p__metric">
          +5
          <span>Membership Partners</span>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="p__metric">
          +295
          <span>Countries</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="_215xd5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title589 text-center">
          <h2> Our Team, professionals and Experts</h2>
          <p>
            A perfect blend of creativity, technical expertise, and real-world experience.  
            The ultimate formula for delivering top-tier education and skill-building opportunities!
          </p>
          <img class="line-title" src="{% static 'images/line.svg' %}" alt="" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="jmio125">
          <p>
            We are a team of experts, seasoned professionals, and talented freelancers, all dedicated to sharing our diverse skills and knowledge.  
            Our platform connects learners with mentors who are passionate about equipping students with the tools they need to excel in their chosen fields.  
            From cutting-edge technologies to hands-on practical guidance, we focus on fostering growth and empowering learners to achieve their aspirations.
          </p>
          <a href="#" class="crer_btn_link">Join Our Team</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="jmio125">
          <img src="{% static 'images/about/team.jpg' %}" alt="Our Team Image" />
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock content %}
<!--  -->
