{% extends "base.html" %}

<!-- -->

<!-- -->
{% load static %}
<!-- -->
{% block title %} {{ block.super }} Careers {% endblock title %}
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
{% block slogan %}
<!--  -->

<!--  -->
{% endblock slogan %}

<!--  -->
{% block content %}
<div>
  <div class="col-lg-12">
    <h1 class="st_title">
      <i class="uil uil-book-alt"></i>Careers</h1>
      {% comment %} <p>We're a passionate, creative, and global company, come work with us.</p> {% endcomment %}
      
  </div>
  
</div>



<div class="_215td5" id="cr458">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title589 mb-20 text-center">
          <h2>Open Tutor Roles</h2>
          <p>
            SKillcobra is a fast-growing company, and we're looking for qualified skilled experts to teach in various languages across the globe.
          </p>
          <img class="line-title" src="{% static 'images/line.svg' %}" />
        </div>
      </div>
      <div class="col-lg-3">
        <div class="apply_job_link mt-30">
          <h4>English Native and Fluent Tutors</h4>
          <span>English Language</span>
          <div class="apply_job_link_right">
            <a href="{% url 'onboarding' %}" class="career_lnk5"
              >Learn More and Apply</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="apply_job_link mt-30">
          <h4>French Speaking and Native Tutors</h4>
          <span>French Language</span>
          <div class="apply_job_link_right">
            <a href="{% url 'onboarding' %}" class="career_lnk5"
              >Learn More and Apply</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="apply_job_link mt-30">
          <h4>German Speaking and Native Tutors</h4>
          <span>German Language</span>
          <div class="apply_job_link_right">
            <a href="{% url 'onboarding' %}" class="career_lnk5"
              >Learn More and Apply</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="apply_job_link mt-30">
          <h4>Hindi Speaking and Native Tutors</h4>
          <span>Hindi Language</span>
          <div class="apply_job_link_right">
            <a href="{% url 'onboarding' %}" class="career_lnk5"
              >Learn More and Apply</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="apply_job_link mt-30">
          <h4>Mandarin Chinese Speaking Tutors</h4>
          <span>Chinese Language</span>
          <div class="apply_job_link_right">
            <a href="{% url 'onboarding' %}" class="career_lnk5"
              >Learn More and Apply</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="apply_job_link mt-30">
          <h4>Arabic Speaking Tutors</h4>
          <span>Arabic Language</span>
          <div class="apply_job_link_right">
            <a href="{% url 'onboarding' %}" class="career_lnk5"
              >Learn More and Apply</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="apply_job_link mt-30">
          <h4>Korean Speaking Tutors</h4>
          <span>Korean Language</span>
          <div class="apply_job_link_right">
            <a href="{% url 'onboarding' %}" class="career_lnk5"
              >Learn More and Apply</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="apply_job_link mt-30">
          <h4>Japanese Speaking Tutors</h4>
          <span>Japanese Language</span>
          <div class="apply_job_link_right">
            <a href="{% url 'onboarding' %}" class="career_lnk5"
              >Learn More and Apply</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="apply_job_link mt-30">
          <h4>Spanish Speaking Tutors</h4>
          <span>Spanish Language</span>
          <div class="apply_job_link_right">
            <a href="{% url 'onboarding' %}" class="career_lnk5"
              >Learn More and Apply</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="apply_job_link mt-30">
          <h4>Russian Speaking Tutors</h4>
          <span>Russian Language</span>
          <div class="apply_job_link_right">
            <a href="{% url 'onboarding' %}" class="career_lnk5"
              >Learn More and Apply</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="apply_job_link mt-30">
          <h4>Portuguese Speaking Tutors</h4>
          <span>Portuguese Language</span>
          <div class="apply_job_link_right">
            <a href="{% url 'onboarding' %}" class="career_lnk5"
              >Learn More and Apply</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="apply_job_link mt-30">
          <h4>Bengali Speaking Tutors</h4>
          <span>Bengali Language</span>
          <div class="apply_job_link_right">
            <a href="{% url 'onboarding' %}" class="career_lnk5"
              >Learn More and Apply</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="apply_job_link mt-30">
          <h4>Turkish Speaking Tutors</h4>
          <span>Turkish Language</span>
          <div class="apply_job_link_right">
            <a href="{% url 'onboarding' %}" class="career_lnk5"
              >Learn More and Apply</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="apply_job_link mt-30">
          <h4>Swahili Speaking Tutors</h4>
          <span>Swahili Language</span>
          <div class="apply_job_link_right">
            <a href="{% url 'onboarding' %}" class="career_lnk5"
              >Learn More and Apply</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="apply_job_link mt-30">
          <h4>Italian Speaking Tutors</h4>
          <span>Italian Language</span>
          <div class="apply_job_link_right">
            <a href="{% url 'onboarding' %}" class="career_lnk5"
              >Learn More and Apply</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
<!-- -->
{% block scripts %}
<!-- -->
{{ block.super }}

<script>
  $(document).ready(function() {
    $(document).on("click", ".create_btn_dash", function(event) {
      event.preventDefault();
      window.location.href = "{% url 'instructors:create_course_view' %}"
    })
  })
</script>
{% endblock scripts %}