{% extends "base.html" %}

<!-- -->

<!-- -->
{% load static %}
<!-- -->
{% block title %} {{ block.super }} Free Courses {% endblock title %}
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
{% block slogan %}
<!--  -->

<!--  -->
{% endblock slogan %}

<!--  -->
{% block content %}
<div>
  <div class="col-lg-12">
    <h1 class="st_title">
      <i class="uil uil-book-alt"></i>Free Courses</h1>
      {% comment %} <p>We're a passionate, creative, and global company, come work with us.</p> {% endcomment %}
      
  </div>
  
</div>

<div class="wrapper _bg4586 _new89">		
  <div class="_215certibg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">						
          <div class="cert_banner_text">						
            <h1>Certification Center</h1>
            <p>For Students and Instructors</p>
            <ul class="certi_icons">
              <li><a href="#" class="edttslogo"><img src="images/logo1.svg" alt=""></a></li>
              <li><div class="edttsplus"><img src="images/cerificate_center/plus.svg" alt=""></div></li>
              <li><a href="#" class="edttslogo1"><img src="images/cerificate_center/certicon.svg" alt=""></a></li>
            </ul>
            <button class="certi-btn" onclick="window.location.href = 'certification_start_form.html';">Start Certification</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>



{% endblock content %}
<!-- -->
{% block scripts %}
<!-- -->
{{ block.super }}

<script>
  $(document).ready(function() {
    $(document).on("click", ".create_btn_dash", function(event) {
      event.preventDefault();
      window.location.href = "{% url 'instructors:create_course_view' %}"
    })
  })
</script>
{% endblock scripts %}