{% extends "base.html" %}
<!--  -->
<!--  -->
{% block title %} {{ block.super }} Coming Soon {% endblock title %}
<!--  -->
{% load static %}
<!--  -->
{% block bodyclass %}coming_soon_style{% endblock bodyclass %}
<!--  -->
{% block body %}
<!--  -->
<!-- Body Start -->
<div class="wrapper coming_soon_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cmtk_group">
          <div class="ct-logo">
            <a href="{% url 'home' %}"
              ><img src="{% static 'images/ct_logo.svg' %}" alt=""
            /></a>
          </div>
          <div class="cmtk_dt">
            <div class="col-lg-8 no-float no-padding center-block">
              <ul class="clock block clearfix">
                <li>
                  <span class="remaining-days" id="days">00</span>
                  <label>Days</label>
                </li>
                <li class="sep">:</li>
                <li>
                  <span class="remaining-hours" id="hours">00</span>
                  <label>hours</label>
                </li>
                <li class="sep">:</li>
                <li>
                  <span class="remaining-minutes" id="minutes">00</span>
                  <label>minutes</label>
                </li>
                <li class="sep">:</li>
                <li>
                  <span class="remaining-seconds" id="seconds">00</span>
                  <label>seconds</label>
                </li>
              </ul>
            </div>
            <h4 class="thnk_title1">We’ll be coming soon!</h4>
            <div class="col-lg-4 col-md-6 no-float no-padding noti-block">
              <form>
                <div class="ui search focus">
                  <div class="ui left icon input swdh11 thykh19">
                    <input
                      class="prompt srch_explore"
                      type="email"
                      name="emailaddress"
                      value=""
                      id="id_email"
                      required=""
                      maxlength="64"
                      placeholder="Email address"
                    />
                    <button class="noti-btn" type="submit">Notify Me</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="tc_footer_main">
            <div class="tc_footer_left">
              <ul>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'press' %}">Press</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                <li><a href="{% url 'soon' %}">Advertise</a></li>
                <li><a href="{% url 'soon' %}">Developers</a></li>
                <li><a href="terms_of_use.html">Copyright</a></li>
                <li><a href="terms_of_use.html">Privacy Policy</a></li>
                <li><a href="terms_of_use.html">Terms</a></li>
              </ul>
            </div>
            <div class="tc_footer_right">
              <p>© 2024 <strong>skillcobra</strong>. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Body End -->

{% endblock body %}

<!--  -->
{% block scripts %}
<script src="{% static 'js/timer.js' %}"></script>

{% endblock scripts %}
