{% extends "core/layout.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block title %} {{ block.super }} Contact Us {% endblock title %}
<!--  -->

<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
{% block slogan %}
<!--  -->
Expanding learning opportunities
<!--  -->
{% endblock slogan %}
<!--  -->
{% block content %}

<!--  -->
{% block nav %}{% endblock nav %}
<!--  -->

<div class="contact1256">
  <div class="col-lg-12">
    <div class="title589 text-center">
      <h2>Help Center</h2>
      <p>Reach us through the following ways</p>
      <img class="line-title" src="{% static 'images/line.svg' %}" alt="" />
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <a href="{% url 'help' %}" class="contact_link_step">
          <img src="{% static 'images/help_icon.svg' %}" />
          <h4>Help Center</h4>
        </a>
      </div>
     
      <div class="col-lg-4 col-md-6">
        <a href="{% url 'career' %}" class="contact_link_step">
          <img src="{% static 'images/career_icon.svg' %}" alt="" />
          <h4>Careers</h4>
        </a>
      </div>
      <div class="col-lg-4 col-md-6">
        <a href="coming_soon.html" class="contact_link_step">
          <img src="{% static 'images/developer_icon.svg' %}" alt="" />
          <h4>Developer Area</h4>
        </a>
      </div>
      <div class="col-lg-4">
        <div>
          <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
<dotlottie-player src="https://lottie.host/d3f758eb-3828-4ab7-b9b9-667a816404bf/bz5Of08AyX.lottie" background="transparent" speed="0.2" style="width: 100%; height: 8%" loop autoplay></dotlottie-player>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contact_info">
          <div class="checkout_title">
            <h2>Contact Information</h2>
            <img src="{% static 'images/line.svg' %}" alt="" />
          </div>
          <ul class="contact_list_info">
            {% comment %} <li>
              <div class="txt_cntct">
                <span class="cntct_895"
                  ><i class="uil uil-location-point"></i>Main Address :</span
                >
                <p>
                  #1235 Sks Nagar St No. 8 Phase 3, Pakhowal Road, 141001, LDH,
                  Punjab, India
                </p>
              </div>
            </li> {% endcomment %}
            <ul>
              <li>
                <div class="txt_cntct">
                  <span class="cntct_895">
                    <i class="uil uil-envelope"></i> Help Email Address:
                  </span>
                  <p>
                    <a href="mailto:help@skillcobra.com">help@skillcobra.com</a>
                  </p>
                </div>
              </li>
              <li>
                <div class="txt_cntct">
                  <span class="cntct_895">
                    <i class="uil uil-mobile-android-alt"></i> Billing Issues Email:
                  </span>
                  <p>
                    <a href="mailto:bill@skillcobra.com">bill@skillcobra.com</a>
                  </p>
                </div>
              </li>
              <li>
                <div class="txt_cntct">
                  <span class="cntct_895">
                    <i class="uil uil-envelope"></i> General Inquiry Email:
                  </span>
                  <p>
                    <a href="mailto:info@skillcobra.com">info@skillcobra.com</a>
                  </p>
                </div>
              </li>
            </ul>
            
          </ul>
          {% comment %} <div class="edututs_links_social">
            <ul class="tutor_social_links">
              <li>
                <a href="#" class="fb"><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#" class="tw"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a>
              </li>
              <li>
                <a href="#" class="yu"><i class="fab fa-youtube"></i></a>
              </li>
            </ul>
          </div> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
<!--  -->
