{% extends "base.html" %}
<!--  -->

{% block title %} {{ block.super }} | Explore Courses {% endblock title %}

<!--  -->
{% load static %}

<!--  -->
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-lg-8">
      <div class="section3125">
        <div class="explore_search">
          <div class="ui search focus">
            <div class="ui left icon input swdh11">
              <input
                class="prompt srch_explore"
                type="text"
                placeholder="Search for Tuts Videos, Tutors, Tests and more.."
              />
              <i class="uil uil-search-alt icon icon2"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="_14d25">
        <div class="row courses_response">
          {% include "searches/explore/courses.html" %}
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="main-loader mt-50" style="display: none">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block scripts %}
<script>
  $(document).ready(function () {
    $(".prompt.srch_explore").keyup(function () {
      var input = $(this).val();
      console.log(input);

      const loader = $(".main-loader");
      loader.show();

      $.ajax({
        url: "{% url 'courses:search_courses' %}",
        type: "GET",
        data: { search_query: input },
        success: function (response) {
          $(".courses_response").html(response);
        },
        error: function (xhr, status, error) {
          $(".empty_courses_result").find("p").text(xhr.responseText);
        },
        complete: function () {
          loader.hide();
        },
      });
    });
  });
</script>
{% endblock scripts %}
